extends layout

block content
    link(rel="stylesheet" href="/stylesheets/createCollectionFormStyle.css")
    div.container-div
        input#collectionNameInput.collectionNameInput(name="Collection name", type="text", value="Collection Name" pattern="[A-Za-z0-9_]+")

        form#collection-form
            div.collection-settings-div.buttons-div
                button.btn.btn-outline-dark.shadow-none.collection-settings(type="button" onClick="addToken()") Add token
                button.btn.btn-outline-dark.shadow-none.collection-settings(type="button" onClick="addParam()") Add parameter

            div.collection-settings-div
                div.collection-settings.tokens-container
                div.collections-settings.param-container
                
            button.btn.btn-outline-dark.shadow-none.submitButton(type="submit" onClick="onSubmit()") Create collection

        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="/scripts/keywords.js")
        script(src="/scripts/createCollectionForm.js")