extends layout

block content
    link(rel="stylesheet" href="/stylesheets/displayToken.css")
    div.container
        each token in tokens
            div.token-container
                p Token address: #{token.tokenAddress}
                p Owner address: #{token.ownerAddress}
                p rarity: #{token.rarityType}
