.container {
    margin: 0 auto;
    width: 600px;
    margin-top: 50px;
}

.input-settings {
    margin-top: 15px;
    margin-bottom: 15px;
}

#pubkey-input {
    padding-right: 20px;
}

#submit-button {
    width: 100%;
}