@if (!IsConnected)
{
    <button class="btn btn-danger" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Connecting to host..
    </button>
}
else
{
    <button class="btn btn-success" type="button" disabled>
        Connected to host
    </button>
}

@code
{
    [Parameter]
    public bool IsConnected { get; set; }
}