extends layout

block content
  
  .forms
    .container
        form(method='post' enctype='multipart/form-data').deploy-from-file
            input(name='jsonCollection', type="file").btn-blue
            br
            button(type='submit' onclick="loader(this)").btn.btn-blue= "Deploy "
              span(class="" role="status" aria-hidden="true")
