extends layout

block content
  
  .forms
    .container
        form(method='post' enctype='multipart/form-data').deploy-from-file
            input.text(name='jsonCollection', type="file").btn-blue
            br
            input.text.btn-submit(type='submit' value ="Deploy").btn.btn-blue