extends layout

block content
    h1(style="text-align:center;") FreeTON Notification Service
    p Customer Id: 
        input( type='text' name='customerId' placeholder='213123123123123123123123')
    include footer.pug

