extends layout

block content
    div.jumbotron
      h1.display-4 FreeTON — Notification Service
      p.lead The eseast way to get HTTP callbacks from FreeTON Network to your service.
      hr.my-4 
      p It allows you to forward encrypted messages from FreeTON Network to http(s) web services.
      a.btn.btn-primary.btn-lg(target="_blank" href="https://github.com/nrukavkov/freeton-notification-service#readme" role="button") Documentation