doctype html
html
  head
    title= `${title}`
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/overload.css')
    link(href='https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css', rel='stylesheet')
    script(src='js/jquery-3.6.0.min.js')
    script(src='https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js')
    script(src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js")
  body.m-2
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href="/") FNS
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar")
        span.navbar-toggler-icon
      #main-navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/endpoints") Endpoints
          li.nav-item
            a.nav-link(href="/messages") Messages
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type="text" placeholder="Hash")
          button.btn.btn-primary.my-2.my-sm-0(type="submit") SET
    
    block content
