doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/scripts/bootstrap.bundle.min.js") 
    script(src="/scripts/jquery-3.6.0.min.js") 
    script(src="/scripts/loader.js") 
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mdb.dark.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/demo-mint.css')
    meta(charset="utf-8")

  body
    header 
        nav(class="navbar navbar-expand-lg")
          .container
              a.navbar-brand(href="/") Home
              button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
              .collapse.navbar-collapse(id="navbarNav")
                ul(class="navbar-nav")
                  li(class="nav-item")
                    a(class="nav-link text" href="/root-contract-form")="Root contract form"
                  li(class="nav-item text")
                    a(class="nav-link text" href="/deploy-from-file")="Deploy from file"
                  li(class="nav-item")
                    a(class="nav-link text" href="/collection-list" onClick='loader(this)')="Collection list "
                      span(class="" role="status" aria-hidden="true")

    .container
      block content
