extends layout

block content
    a.btn.btn-white.btn-mint-token(href='tokens-data-info?rootNftAddress=0:61660447d14fd0312cb5240985d0be7d4fbe3c6b14f8a59452c05a945cd00a40&debotAddress=0:f8e16def7ba2a095c34c22c66f19c163566aec0acfd43b') Click me to check your collection