extends layout

block content
  .forms
    .container
      .form-mint
        form.row.g-3.form-contract#form-param(action="/minting-tokens/minting" method="post" enctype='multipart/form-data') 
          .content
            .rarities
          
            .parameters 
        
            .mediafile 
          
      
          input.submit-button.btn.btn-blue.btn-block#sub-mint(type="submit" value="Minting token" )
    
  script. 
    var address = `!{FileJson}`
    //console.log(address)
  script(type="module" src="/scripts/minting-token.js")
  
        