extends layout

block content
  .forms
    .container
      form.row.g-3.form-contract#form-param(action="/minting-tokens/minting" method="post" enctype='multipart/form-data') 
        input(name="rootAddress" value=collectionRootAddress type="hidden")
        
        input(name="contractName" value=collectionName type="hidden")
        p.text.text-for-minting Select token parameters
        .content
          .rarities
        
          .parameters 
      
          .mediafile 
        
    
        input.text.btn-find.submit-button.btn.btn-blue.btn-block#sub-mint(type="submit" value="Minting token" )
    
  script. 
    var address = `!{FileJson}`
    //console.log(address)
  script(type="module" src="/scripts/minting-token.js")
  
        