extends layout

block content

  div#root

   script(src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin)
   script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
   script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)

   script(src="ParamForm.js" data-plugins="transform-es2015-modules-umd" type="text/babel")
   script(src='index.js' data-plugins="transform-es2015-modules-umd" type="text/babel")
