extends layout

block content     
    h2(style="text-align:center;") Profile
   
    form
      div.mb-3
      p Hash:
        input.form-control.mr-sm-2(type="text" id="hash" placeholder="Hash" value=`${hash}` readonly)
      p Secret:
        input.form-control.mr-sm-2(type="text" id="secret" placeholder="Secret" value=`${secret}` readonly)
      p Endpoint:
        input.form-control.mr-sm-2(type="text" id="endpoint" value=`${callbackUrl}`)
      div(id="emailHelp" class="form-text") We'll never share your secrect with anyone else.
      button(type="submit" id="setSecret" class="btn btn-primary") Save 
    include footer.pug

