extends layout

mixin collection-type
  .collection-type
    .input-block
      span.name-input Тип коллекции
      input(type="text" pattern="[A-Za-zА-Яа-я0-9_ ]+")
    .input-block
      span.name-input Количество токенов
      input(type="text" pattern="[0-9]+")

block content
  form(action="", method="get") 
    h1 Создание контракта
    .input-block
      span.name-input Название контракта
      input(type="text" pattern="[A-Za-z0-9_ ]+")
    .input-block
      span.name-input Максимальное количество токенов
      input(type="text" pattern="[0-9]+")
    .collection-type-list
      +collection-type
    input(type="button" value="Добавить тип" onclick="addType();")

  script.
    const addType = () => document.getElementsByClassName("collection-type-list")[0].innerHTML += document.getElementsByClassName("collection-type")[0].innerHTML
      
      




