extends layout

block content
  
  .forms
    .container
      form.row.g-3#form-contract(action="", method="post")
        ul.nav.nav-tabs.justify-content-center#myTab(role="tablist" )
          li.nav-item(role="presentation")
            button.nav-link.active#home-tab(data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true") Тип
          li.nav-item(role="presentation")
            button.nav-link#profile-tab(data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false") Параметры
        .tab-content#myTabContent
          .tab-pane.fade.show.active#home(role="tabpanel" aria-labelledby="home-tab") 
            .content-type
              .row.row_init
                .col
                  label.form-label() Название контракта
                  input.form-control(name="nameContract" onInput="checkLatinInput(this)" type="text" pattern="[A-Za-z0-9_]+" placeholder="Название контракта" aria-label="Название контракта")
                .col
                  label.form-label() Максимальное количество токенов
                  input.form-control(name="tokenLimit" onInput="checkNumberInput(this)" type="text" pattern="[0-9]+" placeholder="Максимальное количество токенов" aria-label="Максимальное количество токенов")
              .form-check.for-type 
                  input.form-check-input#type-rarity(type="checkbox" value="" name="checkbox-type-rarity")
                  label.form-check-label(for="type-rarity") Требуются типы редкости
              .complete-block-collections-types
                .block-for-col-types
                  .row.collection-type-#c0
                      .col.name
                        label.form-label() Тип коллекции
                        input.form-control.col-name(name="type[0][name]" type="text" pattern="[A-Za-z0-9_]+" onInput="checkLatinInput(this)" placeholder="Тип коллекции" aria-label="Тип коллекции")
                      .col.limit
                        label.form-label() Количество токенов
                        input.form-control.col-limit(name="type[0][limit]" type="text" pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="Количество токенов" aria-label="Количество токенов")                            
                .buttons
                  input.btn.btn-dark.btn-block(class="btn btn-dark" type="button" value="- Удалить тип" onclick="deleteType();")
                  input.btn.btn-dark.btn-block(type="button" value=" + Добавить тип" onclick="addType();")
          .tab-pane.fade#profile(role="tabpanel" aria-labelledby="profile-tab")
            .content-param
              .block-for-col-param-choice#p0
                .row.parameter-choice    
                  .col
                    label.form-label() Название параметра
                    #nameParam
                      input.form-control.nameParam(name="parameter[0][name]" onInput="checkLatinInput(this)" type="text" pattern="[A-Za-z0-9_]+" placeholder="Название параметра")
                  .col
                    label.form-label() Тип параметра
                    select.type-parameter.form-select.btn-dark(name="selectpicker")
                        option(value="none") Выберите тип параметра
                        option(value="number") Число
                        option(value="line") Строка
                        option(value="enum") Enum
                        option(value="mediafile") Mediafile
                .row.parameter-number
                  .col
                    label.form-label() Минимальное значение
                    input.form-control.param-num-min(type="text"  name = 'parameter[0][number][min]' pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="Минимальное значение")
                  .col
                    label.form-label() Максимальное значение
                    input.form-control.param-num-max(type="Stext" name = 'parameter[0][number][max]' pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="Максимальное значение")
                .row.parameter-string
                  .col
                    label.form-label() Минимальная длинна
                    input.form-control.param-line-min(type="text" name = 'parameter[0][line][min]' pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="Минимальная длинна")
                  .col
                    label.form-label() Максимальная длинна
                    input.form-control.param-line-min(type="text" name = 'parameter[0][line][max]' pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="Минимальная длинна")
                .parameter-enum
                  .param-enum-field
                    .col-12.parameter-enum-variant
                      label.form-label() Вариант
                      input.form-control.param-enum#e0(name="parameter[0][enum][0]" onInput="checkLatinInput(this)" type="text" pattern="[A-Za-z0-9_]+" placeholder="Вариант")
                  .row.button-enum
                    .col-6.button-addVariant
                      input.btn.btn-dark.btn-block(type="button" value=" + Добавить вариант" onclick="addVariant(this);")
                    .col-6.button-addVariant
                      input.btn.btn-dark.btn-block(type="button" value=" - Удалить вариант" onclick="deleteVariant(this);")
                .parameter-media-file 
                  .col-12
                    label.form-label() Media file
                    input.form-control.media-file(name="parameter[0][mediafile]" onInput="checkLatinInput(this)" type="text" pattern="[A-Za-z0-9_]+" placeholder="Media file")

                  


            .buttons
              input.btn.btn-dark.btn-block(type="button" value=" + Добавить параметр" onclick="addParam();")
              input.btn.btn-dark.btn-block(class="btn btn-dark" type="button" value="- Удалить параметр" onclick="deleteParam();")
  
        
        .checkbox-for-commissions
          .form-check 
            input.form-check-input#use-author(type="checkbox" value="" name="check-use-author")
            label.form-check-label(for="use-author") Использовать автора
          .col-6.input-commission.use-author
            label.form-label() Комиссия(%)
            input.form-control.commission(type="text" name = 'commission-author' pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="%")
          .form-check 
            input.form-check-input#commission-favor-owner(type="checkbox" value="" name="check-commission-favor-owner")
            label.form-check-label(for="commission-favor-owner") Комиссия в пользу владельца коллекции
          .col-6.input-commission.commission-favor-owner
            label.form-label() Комиссия(%)
            input.form-control(type="text" name = 'commission-favor-owner' pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="%")
          .form-check 
            input.form-check-input#commission-author-generator(type="checkbox" value="" name="check-commission-author-generator")
            label.form-check-label(for="commission-author-generator") Комиссия автору генератора
          .col-6.input-commission.commission-author-generator
            label.form-label() Комиссия(%)
            input.form-control(type="text" name = 'commission-author-generator' pattern="[0-9]+" onInput="checkNumberInput(this)" placeholder="%")
        .col.button-main
          input.submit-button.btn.btn-dark.btn-block#save-data(type="submit" value="Cохранить данные")
        .col.button-main
          input.submit-button.btn.btn-dark.btn-block#form-contracts(type="submit" value="Сформировать контракты")
        .col.button-main
          input.submit-button.btn.btn-dark.btn-block#deploy-contracts(type="submit" value="Задеплоить контракты")
  script(src="/scripts/root-contract-form.js")
      
      




