extends layout

block content
  .forms
    .container
      form.row.g-3
        .content
          .row.row_init
            .col
              label.form-label() Название контракта
              input.form-control(onInput="checkLatinInput(this)" type="text" pattern="[A-Za-z0-9_]+" placeholder="Название контракта" aria-label="Название контракта")
            .col
              label.form-label() Максимальное количество токенов
              input.form-control( onInput="checkNumberInput(this)" type="text" pattern="[0-9]+" placeholder="Максимальное количество токенов" aria-label="Максимальное количество токенов")
          
          .block-for-col_type
            .row.collection-type-
                .col
                  label.form-label() Тип коллекции
                  input.form-control(type="text" pattern="[A-Za-z0-9_]+" name="typeName" onInput="checkLatinInput(this)" placeholder="Тип коллекции" aria-label="Тип коллекции")
                .col
                  label.form-label() Количество токенов
                  input.form-control(type="text" pattern="[0-9]+" name="typeLimit" onInput="checkNumberInput(this)" placeholder="Количество токенов" aria-label="Количество токенов")                            
                    
        input.btn.btn-dark(class="btn btn-dark" type="button" value="- Удалить тип" onclick="deleteType(this);")
        input.btn.btn-dark(type="button" value=" + Добавить тип" onclick="addType();")
        input.btn.btn-dark(type="submit" value="Отправить")
  script(src="/scripts/root-contract-form.js")
      
      




