extends layout

block content
  .container-output
     form.row.g-3#tokens-data-info(action="", method="get", options="tokens")
      p.text.font-weight-bold Root address: #{rootAddress}
      p.text.font-weight-bold Collection name: #{rootNftName}
      p.text.font-weight-bold Debot address: #{debotAddress}
      span.text.font-weight-bold Debot on tonSurf: 
      a(href=tonSurfDebot target="_blank")=tonSurfDebot
      p.text.font-weight-bold List of data tokens on this root address:
      each id in tokensData
        ul
          li.token-list.address(onClick="fromTokenListToToken(this);")= id.id    
  script(src="/scripts/collection-to-token.js") 