.progress {
    position: relative;
}
.progress-bar-title {
    position: absolute;
    text-align: center;
    line-height: 20px; /* line-height should be equal to bar height */
    overflow: hidden;
    color: #fff;
    right: 0;
    left: 0;
    top: 0;
}
.watermark {
    color: rgba(0, 0, 0, 0.3);
    font-size: 60px;
    z-index: 10;
    transform: rotate(30deg);
    position: absolute;
    top: 40%;
    left: 30%; 
}
.hiddentext {
    color: rgba(0, 0, 0, 0);
}