:root {
    --main-color: rgb(0, 125, 187);
    --title-color: rgb(32, 38, 42);
}

body {
    background-color: var(--main-color);
}

.forms {
    padding: 50px 0;
}

#form-contract {
    padding: 0 20px 20px 20px;
    display: flex;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #fff;
    /*max-width: 670px;
    min-height: 700px;*/
}

.col {
    padding: 12px;
}

.button-delete {
    width: 30px;
    height: 30px;
    text-align: center;
}

.delete-type-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 100;
}


.row.parameter-number,
.row.parameter-string,
.parameter-enum,
.complete-block-collections-types,
.col-6.use-author,
.commission-favor-owner,
.commission-author-generator,
.parameter-media-file {
    display: none;
}

.parameterForm {
    padding: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.param-label {
    display: block;
}

label {
    color: var(--title-color);
}

.buttons {
    padding: 10px 0 0 0;
}

#nameParam {
    padding: 2.5px 0 0 0;
}

.button-addVariant {
    padding: 15px 10px 5px 10px;
}

.col-12.parameter-enum-variant,
.row.button-enum {
    padding: 0 0 10px 0;
}

.col.button-main {
    padding: 6px;
}

.form-check.for-type {
    padding: 20px 0 15px 29px;
}

.form-check {
    padding: 10px;
}

.checkbox-for-commissions {
    padding-left: 27px;
}

.input-commission {
    padding: 0 0 15px 0;
}

.collection-container {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.token-list.address {
    cursor: pointer;
}

.home-header {
    padding: 2em 0 0;
}

/* NAVBAR */
.navbar {
    background: #fff;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #000;
    transition: transform 0.3s ease;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #000;
    transform: scale(1.05);
}

/* BUTTONS */
.btn-block+.btn-block {
    margin-top: 1rem;
}

.btn-blue {
    color: #fff;
    background-color: var(--main-color);
    border-radius: 50px;
    box-shadow: none !important;
}
.btn-additionally{
    color: #fff;
    background-color: rgb(54, 163, 218);;
    border-radius: 50px;
    box-shadow: none !important;
}
.button-main-3 {
    margin: 20px 0 0 0;
}

/* INPUTS */
input {
    border: 1px solid #8b81e3;
    border-radius: 50px;
}

/* CHECKS */
.form-check-input {
    border-color: var(--main-color);
}