.forms{
    padding: 50px 0;
}

#root-contract-form{
    padding: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;;
}

.form-button{
    align-self: self-end;
    padding: 5px;
}
.form-button:hover{
    background-color: #474646;
}

.block-for-col_type{
    border: #fff;
}
.col{
    padding: 10px;
}

.button-delete{
    width: 30px;
    height: 30px;
    text-align: center;
}
.block-for-param{
    display: none;
}