extends layout

block content
    link(rel="stylesheet" href="/stylesheets/addressInputForm.css")
    form(method="post", action="/tokensList")
        label.text-dark Input the address
        input.form-control(name="address") 
        button.btn.btn-outline-dark.shadow-none.input-button(type="submit") Find