extends layout

block content
    h1 Information about token 
    p Your token has root address is equal to 
        b #{root}
    p Your token has owner address is equal to 
        b #{owner}
    p Your token has ratiry is equal to 
        b #{rarity}