extends layout

mixin tokensInfo
  .tokensInfo
    span.delete-type-button(onclick="deleteToken(this);") &#215;
    .in
      span.name Token type
      input( type = "text" pattern = "[A-Za-z0-9_]+" name = "tokenName" onInput = "checkName(this)")
    .in
      span.name Maximum number of tokens
      input(type = "text" pattern = "[0-9]+" name = "tokenLimit" onInput = "checkNumber(this)")

block content
  form(id="tokensInfoForm" action = "", method = "post") 
    span.title Creating a collection of tokens 
    .in
      span.name Collection name
      input(type = "text" pattern = "[A-Za-z0-9_]+" name = "collectionName" onInput = "checkName(this)")

    .tokensInfo-list
    +tokensInfo
    input.add-type-button.button( type = "button" value = "Add new token" onclick = "addToken();")
    input.submit-button.button( type = "submit" value = "Create collection")

  script(src="/scripts/tokensInfoForm.js")
      
      


      






