.param-form-div {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    width: 400px;
}

.form-button {
    width: 100%;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
}

.form-button:hover {
    color: white;
    background-color: rgb(36, 36, 36);
    transition: background-color 0.5s;
}

.select-param-body {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px;
    border-color: black;
}

.param-select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
}

.param-select:focus {
    outline-width: 0;
}

.param-form-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.last-in-form {
    border-bottom: solid;
}