@page "/server-status"
@inject IApiClient _apiClient;

<h1>Server status</h1>

@if (ServerStatus == null)
{
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
}
else
{
    <table class="table table-striped table-hover">
        <tr>
            <td>Registred users:</td>
            <td>@ServerStatus.UserCount</td>
        </tr>
    </table>
}

@code{

    protected override async Task OnInitializedAsync()
    {
        ServerStatus = await _apiClient.GetServerStatusAsync();
    }

    private GetServerStatusResult ServerStatus { get; set; }

}